<div class="content wide-content">

  <div id="pad-wrapper">

    <div class="row">
      <%= link_to 'Nowy oddział', new_department_path, :class => 'btn-glow btn blue' %>
    </div>

    <table>
      <thead>
        <tr>
          <th class="col-sm-2">Miasto</th>
          <th class="col-sm-1">Dzielnica</th>
          <th class="col-sm-3">Street</th>
          <th class="col-sm-1">Przychody</th>
          <th class="col-sm-1">Wydatki</th>
          <th class="col-sm-1">Dochód</th>
          <th class="col-sm-2">Stan składników</th>
          <th class="col-sm-2"></th>
        </tr>
      </thead>
      <tbody>
        <% @departments.each do |dept| %>
          <tr>
            <td><%= dept.city %></td>
            <td><%= dept.district %></td>
            <td><%= dept.street %></td>
            <td><%= dept.profits %></td>
            <td><%= dept.expenses %></td>
            <td><%= dept.profits - dept.expenses %></td>
            <td><%= link_to 'Składniki', '/products/department/' + dept.id.to_s %></td>
            <td><%= link_to 'Edytuj', edit_department_path(dept.id) %></td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</div>

