<div class="content wide-content">

  <div id="pad-wrapper">
    <div class="row header">
      <div class="col-sm-12">
        Stany magazynowe
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th class="col-sm-2">Składnik</th>
          <th class="col-sm-2">Ilość</th>
          <th class="col-sm-4">Nowa dostawa</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |p| %>
          <tr>
            <td><%= p.product.name %></td>
            <td><%= p.ammount %></td>
            <td>
              <%= form_with(url: "/products/#{p.product.id}/delivery/#{params[:dept_id]}", method: "post") do %>
                <%= number_field_tag(:quantity, 0) %>
                <%= submit_tag("ZMIEŃ O TYLE") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>

  </div>
</div>

